<template>
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto">
      <h2><slot></slot></h2>
      <form action method @submit.prevent="onSubmit">
        <input type="hidden" v-model="hero.id" />
        <div class="row mb-2">
          <label for="name">Hero name</label>
          <input
            v-model="hero.name"
            required
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter name"
          />
          <div class="text-danger"></div>
        </div>
        <div class="row mb-2">
          <label for="hp">HP</label>
          <input
            v-model="hero.hp"
            required
            type="number"
            class="form-control"
            id="hp"
            placeholder="Enter HP"
          />
          <div class="text-danger"></div>
        </div>

        <div class="row mb-2">
          <label for="attack">Attack</label>
          <input
            v-model="hero.attack"
            required
            type="number"
            class="form-control"
            id="attack"
            placeholder="Enter attack"
          />
          <div class="text-danger"></div>
        </div>

        <div class="row mb-2">
          <label for="defense">Defense</label>
          <input
            v-model="hero.defense"
            required
            type="number"
            class="form-control"
            id="defense"
            placeholder="Enter defense"
          />
          <div class="text-danger"></div>
        </div>
        <button @click="storeOrUpdate" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
 
</template>

<script>
export default {
  props:["dataHeroModif"],
  data() {
    return {
      hero: this.dataHeroModif ?? { id: null, name: "", hp: 1, attack: 1, defense: 1 }
    }
  },
  methods: {
    storeOrUpdate(){
      if(this.hero.id){
        this.update();
      }
      else{
        this.store()
      }
      
    },
    store() {
      axios.post('/heroes', this.hero)
        .then(function (response) {
          console.log(response);
          //A mettre en commentaire pour debuger
          location.reload();
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    update(){
            axios.put('/heroes/'+this.hero.id, this.hero)
        .then(function (response) {
          console.log(response);
          //A mettre en commentaire pour debuger
          location.reload();
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  }
}
</script>

<style>
</style>
