<template>
<div>
  <div class="card mx-auto my-2" style="width: 18rem;">
  <div class='card-body'>
      <h5 class='card-title'>{{dataHero.name}}</h5>
      <p class='card-text'>
          
      </p>
      <button @click="this.$emit('modif',dataHero)" class='btn btn-primary'>Modifier</button>
      <button @click="deleteHero" class='btn btn-primary'>Supprimer</button>
      </div>
  </div>
</div>
</template>

<script>
export default {
props:["dataHero"],
methods:{
        deleteHero(){
            
            axios.delete('/heroes/'+this.dataHero.idHero)
        .then(function (response) {
          console.log(response);
          //A mettre en commentaire pour debuger
          location.reload();
        })
        .catch(function (error) {
          console.log(error);
        });
    }
}
}
</script>

<style>

</style>