<template>
<div class="container">
  <h1>Vue Hero</h1>
   <div class="row row-cols-3">
   <card-hero @modif="remplirForm" v-bind:key="hero.id" v-for="hero in heros" :dataHero="hero"></card-hero>
  </div>
  <div class="row">
  <Fomulaire>Ajouter un Hero</Fomulaire>
  <Fomulaire v-if="selectedHero" :dataHeroModif="selectedHero">Modifier une Hero</Fomulaire>
  </div>
 
</div>
</template>

<script>
import Fomulaire from "./components/Fomulaire.vue"
import CardHero from "./components/Hero.vue"
export default {
  data() {
    return {
      heros: [],
      selectedHero:null
    }
  },
  components:{Fomulaire,CardHero}

  ,
  mounted() {
    axios.get('/heroes')
      .then((response)=> {
        // handle success
         this.heros=response.data._embedded.heroList;
      })
      .catch(function (error) {
        // handle error
        console.log(error);
      })
  },
  methods:{
    remplirForm(unHero){
      this.selectedHero=unHero
    }
  }
}
</script>

<style>
</style>